<div class="bg-[#F4F6FC]">
  <div class="container mx-auto py-16">
    <div class="grid grid-cols-3 gap-20">
      <div class="col-span-2 ">
        <div class="font-semibold text-4xl tracking-[0.005em] leading-[67px]">{{singleCourseDetail.title}}</div>
        <div class="text-xl tracking-[0.005em] leading-[32px]">{{singleCourseDetail.description}}</div>
        <div class="flex items-center">
                <span
                  class="mr-2 text-[#FCD980] text-xl font-extrabold">{{singleCourseDetail.rate}}</span>
          <nz-rate [nzDisabled]="true" [ngModel]="singleCourseDetail.rate" nzAllowHalf></nz-rate>
          <span class="text-xs	font-light">({{singleCourseDetail.rateCount}})</span>
        </div>
        <div class="font-light">Created by {{singleCourseDetail.author}}</div>
      </div>
      <div class="col-span-1">
        <div><img class="w-full" src="{{singleCourseDetail.image}}"></div>
        <div class="bg-white px-9">
          <div>
            <nz-statistic class="font-bold text-xl" nzPrefix="RM"
                          ngClass="text-3xl font-semibold font-poppins tracking-[0.005em] leading-[51px]"
                          [nzValueStyle]="{ 'font-size': '32px', 'font-weight':'600' }"
                          [nzValue]="(singleCourseDetail.price | number: '1.2')!"></nz-statistic>
          </div>
          <div class="my-2.5 w-full">
            <button class="font-light rounded tracking-[0.005em] leading-[26px] py-3 bg-[#FCD980] w-full text-center">
              Add to Cart
            </button>
          </div>
          <div class="mb-2.5 w-full">
            <button
              class="font-light rounded tracking-[0.005em] leading-[26px] py-3 border border-black w-full text-center">
              Buy now
            </button>
          </div>
          <div class="text-center font-light tracking-[0.005em] leading-[24px] mb-5">
            30-Day Money-Back Guarantee
          </div>
          <div class="text-xl font-semibold leading-[28px] tracking-[0.005em]">
            This course includes:
          </div>
          <div>
            <ul class="list-disc list-inside">
              <li>Coffee</li>
              <li>Tea</li>
              <li>Milk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
