<div class="w-full font-poppins">
  <!--Header-->
  <div *ngIf="!hiddenHeader" class="w-full bg-[#1C1E53]">
    <div class="container mx-auto flex text-white items-center py-7">
      <!--Logo-->
      <div class="text-2xl font-bold grow">
        <button (click)="redirect('dashboard')">EDUFREE</button>
      </div>
      <div class="">
        <button class="mx-5 cursor-pointer" (click)="redirect('dashboard')">HOME</button>
        <button class="mx-5 cursor-pointer" (click)="redirect('about us')">ABOUT US</button>
        <button class="mx-5 cursor-pointer" (click)="redirect('courses')">COURSE</button>
        <button class="mx-5 cursor-pointer" (click)="redirect('faq')">FAQ</button>
        <button class="mx-5 cursor-pointer" (click)="redirect('blog')">BLOG</button>

        <button nz-button class=" ml-16 border py-3 px-10 " (click)="redirect('login')">Login</button>
      </div>
    </div>
  </div>

  <!--Content-->
  <div>
    <router-outlet></router-outlet>
  </div>

  <!--Footer-->
  <div *ngIf="!hiddenFooter" class="w-full bg-[#1C1E53]">
    <div class="container mx-auto flex text-white py-7 mb-16">

      <div class="font-bold grow text-2xl">[EDUFREE]</div>
      <div class="px-12">
        <div class="text-xl font-medium pb-3">Company</div>
        <div class="mb-2">About</div>
        <div class="mb-2">What We Offer</div>
        <div class="mb-2">All Courses</div>
      </div>
      <div class="px-12">
        <div class="text-xl font-medium pb-3">Resource</div>
        <div class="mb-2">Privacy Policy</div>
        <div class="mb-2">Terms and Condition</div>
      </div>
      <div class="px-12">
        <div class="text-xl font-medium pb-3">Community</div>
        <div class="mb-2">Learners</div>
        <div class="mb-2">Instructors</div>
        <div class="mb-2">Translators</div>
      </div>
    </div>

    <div class="container mx-auto flex">
      <div class="bg-[#FCD980] flex px-8 py-4">
        <div class="mr-8">
          <div class="font-medium text-lg">Email</div>
          <div class="">contact@website.com</div>
        </div>
        <div class="mr-8">
          <div class="font-medium text-lg">Telephone</div>
          <div>+012 3456789</div>
        </div>
      </div>
      <div class="grow">

      </div>
    </div>

  </div>
</div>
