<div class="w-full font-poppins">
  <!--Header-->
  <div class="w-full bg-[#1C1E53]">
    <div class="container mx-auto flex text-white items-center py-7">


      <!--Logo-->
      <div class="text-2xl font-bold grow">
        <button>EDUFREE</button>
      </div>

      <div class="">
        <button class="mx-5" (click)="redirect('home')">HOME</button>
        <button class="mx-5" (click)="redirect('about us')">ABOUT US</button>
        <button class="mx-5" (click)="redirect('course')">COURSE</button>
        <button class="mx-5" (click)="redirect('faq')">FAQ</button>
        <button class="mx-5" (click)="redirect('blog')">BLOG</button>

        <button nz-button class=" ml-16 border py-3 px-10 " (click)="redirect('login')">Login</button>

      </div>

    </div>
  </div>

  <!--Content-->
  <div>
    <router-outlet></router-outlet>

  </div>

  <!--Footer-->
  <div>

  </div>
</div>
