<nz-table  #basicTable [nzData]="teachingData" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>
      <div class="text-[#B5B7C0] font-medium text-sm">Course Name</div>
    </th>
    <th [nzWidth]="'300px'">
      <div class="text-[#B5B7C0] font-medium text-sm">Edit</div>
    </th>
    <th [nzAlign]="'center'">
      <div class="text-[#B5B7C0] font-medium text-sm">Delete</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>
      <div class="flex items-center">
        <div class="mr-7 ">
          <div class="text-[#B5B7C0] font-medium text-sm">{{i+1}}</div>
        </div>
        <div class="w-[600px]">
          <div class="font-semibold text-[18px]">{{data.courseName}}</div>
          <div class="text-[#9197B3] text-xs truncate">{{data.description}}</div>
        </div>
      </div>
    </td>
    <td class="w-[230px]">
      <div>
        <button nz-button class="bg-[#FCD980] text-[#282938] text-xs font-medium py-2 px-5"
                (click)="editCourse(data.id)">Edit</button>
      </div>
    </td>
    <td class="" [nzAlign]="'center'">
      <div>
        <button nz-button nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this course?"
                (nzOnConfirm)="deleteCourse(data.id)"
                nzPopconfirmPlacement="top"
                class="bg-[#FCD980] text-[#282938] text-xs font-medium py-2 px-5">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
